<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stuff/main.css">
    <link rel="shortcut icon" href="/stuff/favicon.ico">
</head>
<body>

<h1>
    Home
</h1>

<a href="/home">Home</a>
<a href="/about">About</a>
<a href="/test">Test</a>

<table>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
    <tr>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
        <th><img src="/stuff/favicon.ico" style="width:138px;height:77px;"></th>
    </tr>
</table>

</body>
</html>